#root {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.calendar {
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  /* background-color: skyblue; */
  height: 2.5rem;
  margin-bottom: 5px;
}

.col-start {
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 0.5rem;
  margin-left: 1rem;
  padding-top: 0.5rem;
}

.col-end {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.2rem;
  margin-right: 1rem;
}

.header-month {
  font-size: 1.2rem;
  font-weight: 500;
}

.header-year {
  font-size: 1rem;
}

